<!DOCTYPE html>
<!--타임리프 문법 및 스프링 시큐리티 사용하기 위해 선언, 타임리프를 사용하는 이유는 백엔드 소스를 동적으로 연결하기 위해서-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/common :: head('ogani')">
</head>
<body>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper" th:replace="fragment/common :: humberger">
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header" th:replace="fragment/common :: header('[admin]')">
</header>
<!-- Header Section End -->

<!--common.html에 넣은 사이드 메뉴바 소스를 login.html과 연결 해주는 코드 -->
<section class="hero hero-normal" th:replace="fragment/common :: hero">
</section>

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="text-center" style="margin: 30px 0px">
            <h2 class="section-heading text-uppercase">상품 수정</h2>
        </div>
        <form th:action="@{/admin/productUpdate}" method="post" enctype="multipart/form-data" id="productUpdate"
              class="needs-validation" novalidate>
            <input type="hidden" id="productId" th:value="${productInfo.product_id}" name="productId">
            <input type="hidden" name="productClassification" id="productClassification" value=""/>
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                 th:src="@{/admin/productImage/{productId}(productId=${productInfo.product_id})}">
                        </div>
                    </div>
                    <div style="text-align: center"><a href="#" class="primary-btn">사진 업로드</a></div>
                    <div class="col-sm-6">
                        <input type="file" id="image" name="image" required/>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="product__details__text">
                        <div class="mb-3 row">
                            <label for="productName" class="col-sm-4 col-form-label">상품명</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="productName"
                                       name="productName" th:value="${productInfo.product_name}" placeholder="상품명" required/>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="productPrice" class="col-sm-4 col-form-label">가격</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="productPrice" name="productPrice" th:value="${productInfo.product_price}"
                                       placeholder="가격" required/>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="productDescription" class="col-sm-4 col-form-label">상품 설명</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="productDescription" name="productDescription" th:text="${productInfo.product_description}"
                                          placeholder="상품 설명" required cols="30" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="productClassification2" class="col-sm-4 col-form-label">상품 분류</label>
                            <div class="col-sm-8">
                                <select id = "productClassification2" class="form-select form-select-sm"  style="display:inline-block; width:12%" aria-label="Default select example">
                                    <option value="vegetable" selected>채소</option>
                                    <option value="fruit">과일</option>
                                    <option value="meat">육류</option>
                                    <option value="dairyProduct">유제품</option>
                                    <option value="fastFood">패스트푸드</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="productWeight" class="col-sm-4 col-form-label">상품 무게</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       id="productWeight"
                                       name="productWeight" placeholder="상품 무게" th:value="${productInfo.product_weight}" required/>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="productQuantity" class="col-sm-4 col-form-label">상품 수량</label>
                            <div class="col-sm-8">
                                <div class="product__details__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1"
                                                   id="productQuantity"
                                                   name="productQuantity" th:value="${productInfo.product_quantity}" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 58px; text-align: center">
                        <a href="#" onclick="productEditForm()" class="primary-btn">등록</a>
                        <a href="/admin/productList" class="primary-btn">취소</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Footer Section Begin -->
<footer class="footer spad" th:replace="fragment/common :: footer">
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.slicknav.js"></script>
<script src="/static/js/mixitup.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/productEditForm.js"></script>
</body>


</html>