<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minki.ogani.mapper.admin.AdminProductMapper">

    <!--품목리스트 조회    -->
    <!--동적처리과정: searchText가 null이 아니면서 공백이 아닐때 품목명에 "사"만쳐도 사과, 사파리포도 등등 치면 나오게끔 하는거!  -->
    <select id="productList" resultType="ProductResDto" parameterType="criteria">
        SELECT *
        FROM product
        <where>
            <if test="searchText != null and searchText != ''">
                AND ${searchType} like concat('%',#{searchText},'%')
            </if>
        </where>
        order by ${sort}
        LIMIT #{pageStart}, #{perPageNum}
    </select>

    <!--db에 있는 product 총 개수(품목리스트 개수)-->
    <select id="productCount" resultType="Integer" parameterType="criteria">
        SELECT count(*)
        FROM product
        <where>
            <if test="searchText != null and searchText != ''">
                AND ${searchType} like concat('%',#{searchText},'%')
            </if>
        </where>
    </select>

    <!--등록 상품 저장-->
    <insert id="productRegister" parameterType="ProductReqDto">
    INSERT
    INTO product(product_name, product_price, product_classification, file_name,file_size,file_bytes,mime_type, product_description, product_quantity, product_weight)
    VALUES(#{productName}, #{productPrice}, #{productClassification}, #{fileName},#{fileSize},#{fileBytes},#{mimeType}, #{productDescription}, #{productQuantity}, #{productWeight})
    </insert>

    <!--단건 상품 조회-->
    <select id="productInfo" parameterType="Long" resultType="productResDto">
    SELECT *
    FROM product
    WHERE product_id = #{productId}

    </select>

    <!--등록 상품 수정-->
     <update id="productUpdate" parameterType="productReqDto" >
         UPDATE product
         <set>
             product_name=#{productName},
             product_price=#{productPrice},
             product_classification=#{productClassification},
             product_weight=#{productWeight},
             product_description=#{productDescription},
             product_quantity=#{productQuantity},
             <if test="fileName != null and fileName !=''">
                 file_name=#{fileName},
                 file_size=#{fileSize},
                 file_bytes=#{fileBytes},
                 mime_type=#{mimeType},
             </if>
         </set>
         WHERE product_id=#{productId}
     </update>

    <!--등록 상품 삭제-->
    <delete id="productDelete" parameterType="Long">
        DELETE
        FROM product
        WHERE product_id = #{productId}
    </delete>

</mapper>


