<!DOCTYPE html>
<!--타임리프 문법 및 스프링 시큐리티 사용하기 위해 선언, 타임리프를 사용하는 이유는 백엔드 소스를 동적으로 연결하기 위해서-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/common :: head('ogani')">
</head>
<body>
<!-- Page Preloder -->
<div id="preloder" th:replace="fragment/common :: preloder">
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper" th:replace="fragment/common :: humberger">
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header" th:replace="fragment/common :: header">
</header>
<!-- Header Section End -->

<!--common.html에 넣은 사이드 메뉴바 소스를 signupForm.html과 연결 해주는 코드 -->
<section class="hero hero-normal" th:replace="fragment/common :: hero">
</section>

<!--signupTab-->
<section id="signupTab">
    <div class="container" style="width: 35%">
        <div class="text-center" style="margin: 30px 0px 40px 0px;">
            <h2 class="section-heading text-uppercase">로그인</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="modal-body">
                    <!-- Project details-->
                    <form th:action="@{/user/loginProc}" method="post" id="loginForm" class="needs-validation"
                          novalidate>
                        <div class="mb-3 row">
                            <label for="id" class="col-sm-4 col-form-label">아이디</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="id"
                                       name="id" placeholder="Id" required/>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="password" class="col-sm-4 col-form-label">비밀번호</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control"
                                       id="password"
                                       name="password" placeholder="Password" required/>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label"></label>
                            <div th:if="${error != null}" class="col-sm-6" >
                                <div id="password-error" style="color:red" th:text="${exception}"></div>
                            </div>
                        </div>
                        <div class="grid text-center" style="--bs-columns: 4; --bs-gap: 5rem;">
                            <button type="submit" class="btn btn-outline-dark" id="signUpBtn">로그인
                            </button>
                            <button type="button" class="btn btn-outline-dark"
                                    onclick="location.href='/'">
                                취소
                            </button>
                            <div style="margin-top:20px">
                                <a href="/user/findIdForm" style="margin-right:10px; color:black">아이디 찾기</a>
                                <a href="/user/findPwForm" style="color:black">비밀번호 찾기</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section Begin -->
<footer class="footer spad" th:replace="fragment/common :: footer">
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.slicknav.js"></script>
<script src="/static/js/mixitup.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/main.js"></script>
</body>

</html>