<!DOCTYPE html>
<!--타임리프 문법 및 스프링 시큐리티 사용하기 위해 선언, 타임리프를 사용하는 이유는 백엔드 소스를 동적으로 연결하기 위해서-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/common :: head('ogani')">
</head>
<body>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper" th:replace="fragment/common :: humberger">
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header" th:replace="fragment/common :: header">
</header>
<!-- Header Section End -->

<!--common.html에 넣은 사이드 메뉴바 소스를 login.html과 연결 해주는 코드 -->
<section class="hero hero-normal" th:replace="fragment/common :: hero">
</section>

<!--login-->
<section id="login">
    <div class="container" style="width: 50%">
        <div class="text-center" style="margin: 30px 0px">
            <h2 class="section-heading text-uppercase">내 정보 수정</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <!-- Project details-->
                <!--th:action뒤에 경로는 다음페이지 백엔드 경로  밑에 저장 버튼 백엔드 경로와 같은곳-->
                <!-- id부분 물어보기 8월24일에 코딩했던거 -->
                <form th:action="@{/user/updateInfo}" method="post" id="updateInfoForm" class="needs-validation"
                      novalidate>
                    <input type="hidden" id="oriEmail" name="oriEmail" th:value="${info.email}">
                    <input type="hidden" id="id" name="id" th:value="${info.id}">
                    <div class="mb-3 row">
                        <label for="id" class="col-sm-4 col-form-label">아이디</label>
                        <div class="col-sm-6"><input type="text" disabled class="form-control" id="id" name="id"
                                                     th:value="${info.id}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-4 col-form-label">이름</label>
                        <div class="col-sm-6"><input type="text" class="form-control" id="name" name="name"
                                                     th:value="${info.name}" required></div>
                    </div>
                    <div class="mb-3 row">
                        <label for="birthday" class="col-sm-4 col-form-label">생년원일</label>
                        <div class="col-sm-6"><input type="date" class="form-control" id="birthday"
                                                     name="birthday" th:value="${info.birthday}" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="phonenumber" class="col-sm-4 col-form-label">핸드폰 번호</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="phonenumber"
                                   name="phonenumber" th:value="${info.phonenumber}"
                                   onkeyup="phoneCheck(this.value)" required>
                            <div id="phone-error" class="invalid-feedback">숫자만 입력하세요.</div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="email" class="col-sm-4 col-form-label">이메일</label>
                        <div class="col-sm-6"><input type="email" class="form-control" id="email" name="email"
                                                     th:value="${info.email}" onkeyup="emailRealCheck(this.value)" required>

                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-outline-dark btn-sm" id="emailCheck"
                                    onclick="emailCheckAjax()" disabled>중복체크
                            </button>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="postcode" class="col-sm-4 col-form-label">우편 번호</label>
                        <div class="col-sm-3"><input type="text" class="form-control" id="postcode" name="postcode"
                                                     th:value="${info.postcode}" required>
                        </div>
                        <div class="col-sm-3">
                            <input type="button" class="btn btn-outline-dark btn-sm" onclick="execDaumPostcode()"
                                   value="우편번호 찾기"><br>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="address" class="col-sm-4 col-form-label">주소</label>
                        <div class="col-sm-6"><input type="text" class="form-control" id="address" name="address"
                                                     th:value="${info.address}" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="extraAddress" class="col-sm-4 col-form-label">추가 주소</label>
                        <div class="col-sm-6"><input type="text" class="form-control" id="extraAddress"
                                                     name="extraAddress" th:value="${info.extra_address}" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="detailAddress" class="col-sm-4 col-form-label">상세 주소</label>
                        <div class="col-sm-6"><input type="text" class="form-control" id="detailAddress"
                                                     name="detailAddress" th:value="${info.detail_address}" required>
                        </div>
                    </div>
                    <div class="grid text-center" style="--bs-columns: 4; --bs-gap: 5rem; margin: 30px 0px">
                        <!--버튼 타입을 submit으로 하면 th:onclick안쓰고 form의 action으로 !-->
                        <!-- submit으로 한 이유는 백엔드의 post 방식으로 보내기 위해! url을 하면 get밖에 안돼서 .. ㅠㅠ-->
                        <button type="submit" class="btn btn-outline-dark" style="margin-right: 10px"
                                id="updateBtn">
                            저장
                        </button>
                        <button type="button" class="btn btn-outline-dark"
                                th:onclick="|location.href='@{/user/mypage}'|">취소
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

<!-- Footer Section Begin -->
<footer class="footer spad" th:replace="fragment/common :: footer">
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.slicknav.js"></script>
<script src="/static/js/mixitup.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/main.js"></script>
<!--updateInfoForm.js과 연결함!-->
<script src="/static/js/updateInfoForm.js"></script>
<!--주소 js-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>

</html>